#javascript-def {
  display: none;
}

#operator-def {
  display: none;
}

#variable-def {
  display: none;
}

#varNameCon-def {
  display: none;
}

#function-def {
  display: none;
}

#method-def {
  display: none;
}

#argument-def {
  display: none;
}

#parameter-def {
  display: none;
}

#return-def {
  display: none;
}

#chainMeth-def {
  display: none;
}

#string-def {
  display: none;
}

#boolean-def {
  display: none;
}

#undefined-def {
  display: none;
}

#nan-def {
  display: none;
}

#null-def {
  display: none;
}

#alert-def {
  display: none;
}

#comment-def {
  display: none;
}

#jquery-def {
  display: none;
}

#attribute-def {
  display: none;
}

#html-def {
  display: none;
}

#css-def {
  display: none;
}

#bootstrap-def {
  display: none;
}

#htmlTag-def {
  display: none;
}

#compare-def {
  display: none;
}


